/* Concourse */

/* @font-face {
    font-family: 'concourse-caps';
    src: url("concourse/concourse-c3-tab-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'concourse-caps';
    src: url("concourse/concourse-c3-tab-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'concourse';
    src: url("concourse/concourse-t3-tab-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'concourse';
    src: url("concourse/concourse-t3-tab-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'concourse';
    src: url("concourse/concourse-t3-tab-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'concourse';
    src: url("concourse/concourse-t3-tab-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic
} */

/* Equity */

/* @font-face {
    font-family: 'equity-caps';
    src: url("equity/equity-caps-a-tab-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'equity-caps';
    src: url("equity/equity-caps-a-tab-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal
} */

@font-face {
    font-family: 'equity';
    src: url("equity/equity-text-a-tab-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'equity';
    src: url("equity/equity-text-a-tab-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'equity';
    src: url("equity/equity-text-a-tab-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'equity';
    src: url("equity/equity-text-a-tab-bolditalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic
}